[Unit]
Description=Chakram Mainnet Node
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/chakram node
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
