[Unit]
Description=Chakram Miner Node
After=network.target

[Service]
Type=simple
User=anandhusathe
ExecStart=/home/anandhusathe/chakram node --testnet --mine
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
